.gallery-item {
  position: relative;
}
.gallery-icon {
  background-color: white;
}

#gallery-1 img {
  border: none !important;
}

.gallery-caption {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
  font-size: 1.3em;
  opacity: 0.9;
  transition: transform 0.5s;
  transform: scaleY(0);
  transform-origin: bottom;

  a {
    display: block;
    line-height: 80px;
  }
}
